.leaflet-container {
  width: 100%;
  height: 100vh;
}
.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.leaflet-marker-icon,
.leaflet-marker-icon * {
  pointer-events: auto !important;
}
